<!DOCTYPE html>
<div class="login-page">
   <div class="page">
      <div class="container">
         <div class="left">
            <div class="login">Login</div>
            <div class="eula"><strong>DIGI ADMIN</strong> Tool, A Complete data management and billing system</div>
            <div class="hbox hbox-left-box-margin">
            	<input type="submit" id="admin-btn-id" value="ADMIN" class="btn-select btn-select-left-box">
            	<input type="submit" id="manager-btn-id" value="MANAGER" class="btn-select btn-selected btn-select-left-box">
            </div>
         </div>
         <div class="right">
            <div class="form">
               <label for="email">Phone or Email</label>
               <input type="email" id="email" class="input-border input-border-active">
               <label for="password">Password</label>
               <input type="password" id="password" class="input-border">
               <div class="hbox hbox-right-box-margin">
	            	<input type="submit" id="reset" value="Reset" class="btn-select btn-select-right-box">
	            	<input type="submit" id="submit" value="Submit" class="btn-select btn-selected btn-select-right-box">
	           </div>
	           <div class="forget-password">
	           		Forgot Password
	           </div>
            </div>
         </div>
      </div>
   </div>
</div>